@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Root css variable. */
:root {
	--color-hover: #999;
	--gap: 5px;
	--color-background: Yellow;
}

* {
	box-sizing: border-box;
}

/* Css to Beautify scroll bar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-thumb {
	background: var(--color-hover);
}
::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}
/* Created a hidden class */
.hidden {
	display: none !important;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}
button {
	height: 35px;
	background: var(--color-background);
	border: 0;
}
body main {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 300px 1fr;
	padding: 30px;
	grid-gap: calc(var(--gap) * 2);
	overflow: hidden;
}

main .multiselects {
	display: flex;
	overflow: auto;
}
	.multiselects .multiselect {
		display: flex;
		flex-direction: column;
		height: 40%;
		min-height: 400px;
		max-height: 600px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		padding: 20px;
		width: 60%;
		margin: 10px;
	}
	.multiselect > h3 {
		margin: 0;
		padding: 0 5px;
		border-bottom: 1px dashed #999;
	}
	.multiselect .saerch {
		margin: 10px;
		display: flex;
		align-items: center;
	}
		.multiselect .saerch .tags {
			display: flex;
		}
			.multiselect .saerch .tags .selected-tag {
				display: flex;
				width: max-content;
				height: 30px;
				background: #2bab64;
				margin: 5px;
				color: #fff;
				font-weight: bold;
				align-items: center;
				justify-content: center;
				border-radius: 8px;
				text-transform: uppercase;
				font-size: 12px;
				padding: 10px;
			}
				.multiselect .saerch .tags .selected-tag .remove {
					padding: 5px;
					cursor: pointer;
				}
				.multiselect .saerch .tags .selected-tag .name {
					padding: 5px;
					border: 0;
					outline: 0;
				}
		.multiselect .saerch .search-text {
			display: flex;
			width: 100%;
			border: 1px solid #999;
			height: 30px;
			padding: 5px;
		}
		.multiselect .datalist {
			display: flex;
			height: 100%;
			width: 100%;
			padding: 10px;
		}
			.multiselect .datalist .tag {
				height: max-content;
				display: flex;
				padding: 8px;
				margin: 5px;
				border: 1px solid #2bab64;
				color: #2bab64;
				background: #fff;
				transition: box-shadow 300ms;
				border-radius: 8px;
			}
				.multiselect .datalist .tag:hover {
					cursor: pointer;
					box-shadow: 0 0 15px rgba(0,0,0,0.15);
				}
/* Add button */
button.add-multiselect {
	width: max-content;
}

/* Add container */
main .add-container {
	display: grid;
	width: 100%;
	grid-gap: calc(var(--gap) * 3);
}
	.add-container label {
		display: flex;
		flex-direction: column;
		max-width: 300px;
	}
	.add-container label span {
		margin-bottom: 5px;
	}

